*{
    padding-left: 4.3em;
    padding-right: 4.5em;
    margin-top: 1em;
}
.titulo{
    font-size: xx-large;
    color: antiquewhite;
    text-align: center;
}
.box{
    background-color: chocolate;
}
form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    font-size: medium;
}
.mb-3 row{
    display: flex;
    flex-direction: column;
}
.mb-3 row > label{
    flex: 1;
}
.mb-3 row > div{
    flex: 2;
}
#boton{
    width: 7em;
    height: 3em;
}