<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/user_style.css') }}">
    <title>User Info</title>
</head>
<body>
    <div class="contenedor">
        <header class="titulo"><h1>User Card</h1></header>
        <div class="information">
            <h3>Nombre: {{ name }}</h3>
            <h3>Dojo Location Preference: {{ ciudad }}</h3>
            <h3>Favourite Languaje: {{ lenguaje }}</h3>
            <h3>Aditional Information: {{ comentario }}</h3>
        </div>
    </div>
</body>
</html>